# dependencies
node_modules

# next.js
.next/
out/
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild[Ll]og.*
*.nupkg
**/[Pp]ackages/*
project.lock.json
*.nuget.props
*.nuget.targets

compose.dbdmatches.yaml
